@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#home-container{
    margin-top: 10%;
    display: flex;
    text-align: center;
}
#home-container #buttons div{
    margin-top:10%;
}

#images-redes img{
    width: 30px;
    margin-right: 10%;
}

#container-icon-navbar{
    width: 90%;
    margin: 10px auto;
}

#container-icon-navbar div a{
    color: black;
    display: flex;
    justify-content: space-between;
}
#navbarNav{
    display: flex;
    justify-content: right;
}
.container-res{
    width: 100%;
}
.res-form{
    width: 30%;
}
#calendar{
    width: 40%;
    margin: 1% 2% 0 10%;
}
#container-card{
    margin: 0 auto;
    width: 80%;
}